name: Notify Target Repo

on:
  push:
    paths:
      - 'pages/apps/uprn-service/config.xlsx' # The specific file(s) to watch
    branches:
      - dev

env:
  TARGET_REPO: ${{ vars.TARGET_REPO || 'NERC-Digital-Solutions-Hub/ai-uprn-chatbot' }}

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Workflow in Target Repo
        # Uses a curl request to the GitHub API
        run: |
          curl -fL \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.ACTION_PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ env.TARGET_REPO }}/dispatches \
            -d '{"event_type":"external_file_change", "client_payload": {"file": "pages/apps/uprn-service/config.xlsx"}}'
